/* 
 * SEARCH [Pasien Lama, Pasien Baru, Terapis]
 */
.custom-search {
  width: 60%;
  text-overflow: ellipsis;
}

.custom-search .btn{
  border-color: #0E8357;
  color:#0E8357;
}

.btn-outline-success:hover {
  color: #fff;
}

.custom-filter .dropdown-toggle{
  text-align: end;
}

.custom-filter .dropdown-toggle:focus{
  background-color: #ffffff;
  color: #0E8357;
  outline-color: #0E8357;
}

.custom-filter .dropdown-item{
  overflow: hidden;
}

.custom-filter .dropdown-menu .dropdown-item:active{
  background-color: #0E8357;
  color:#ffffff;
}

.custom-filter .dropdown-menu .dropdown-item:focus{
  background-color: #0E8357;
  color:#ffffff;
}

.custom-search-input {
  background: none;
}

/*
 * SELECT SEARCH 
 */
.search-dinamis .dropdown-menu {
  min-width: 250px;
}

.search-dinamis .select-options {
  max-height: 180px;
  overflow-y: auto;
  padding: 4px 3px;
}
.search-dinamis .select-options li {
  cursor: pointer;
  padding: 6px 12px;
}
.search-dinamis .select-options::-webkit-scrollbar{
  width: 7px;
  padding-right: 9px;
}
.search-dinamis .select-options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.search-dinamis .select-options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.search-dinamis .select-options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}

/*
 * HALAMAN BERANDA 
 */
/* Terapis Ready */
.content-ready {
  max-height: 420px; 
  overflow-y: auto;
}
.content-ready::-webkit-scrollbar{
  width: 7px;
  padding-right: 9px;
}
.content-ready::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.content-ready::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.content-ready::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
/* Grafik */
.dropdown-filter-tahun .button-toggle {
  width: 100%; 
  min-width: 150px;
}


/*
 * HALAMAN PASIEN LAMA 
 */
.row-custom{
  align-items: center;
}

.card-custom{
  background-color:#FFFFFF; 
  height: 300px;
}

.card-custom h6{
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 600;
}

.card-custom .card-body p{
  color:#212529;
  font-size: 15px;
  font-weight: 600;
  display: -webkit-box;
    -webkit-line-clamp: 2; /* Jumlah baris yang ingin ditampilkan */
    -webkit-box-orient: vertical;
    overflow: hidden;
  margin: 0px;
}

.card-custom hr{
  margin: 0px;
  padding-bottom: 5px;
}

.card-custom .card-header {
  background-color: #0E8357;
  text-align: center;
  /* border: none; */
}

.card-custom .card-header .card-header-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
}

.card-custom a{
  color:#0E8357;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  font-size: 15px;
  /* font-weight: 400; */
}

.card-custom a:hover{
  text-decoration: underline;
  color: #0E8357;
}

.card-custom img{
  height: 55%;
  /* background-color: #212529; */
  width: auto;
  object-fit: cover;
  object-position: 0px 20%;
  border-radius: 0;
}

.card-custom .card-footer {
  padding: 8px auto;
}


/* 
 * HALAMAN TERAPIS 
 */
.card-terapis {
  height: 250px;
}

.card-terapis img{
  height: 64%;
}

.card-terapis p {
  margin: 0px;
  text-align: center;
}

.card-terapis a {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 600;
}

.card-terapis a:hover {
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
  color: #0e8357;
}

.card-terapis a h6:hover {
  color: #0E8357;
}

/*
 * HALAMAN PASIEN BARU 
 */
.card-baru{
  background-color:#FFFFFF; 
  height: 290px;
  /* width: 225px; */
}

.card-baru a{
  color: #ffffff;
  padding: 10px 8px;
  text-decoration: none;
}

.card-baru .card-header {
  background-color: #0E8357;
  text-align: center;
  /* border: none; */
}

.card-baru .card-header .card-header-text {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
}

.card-baru img{
  height: 60%;
  width: auto;
  object-fit: cover;
  object-position: 0px 20%;
  border-radius: 0;
}
.card-baru p{
  color:#212529;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.card-baru .card-title{
  color:#212529;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin: 0px;
}

.card-baru a:hover{
  background-color: #fff;
  color: #0e8357;
  cursor: pointer;
}

.card-baru a:active{
  background-color: #fff;
  color: #0e8357;
  cursor: pointer;
}

.card-baru a:focus {
  background-color: #fff;
  color: #0e8357;
  cursor: pointer;
}

/*
 * HALAMAN HISTORI REKAM MEDIS 
 */
.card-kini .card-header {
  color: #fff;
  background-color: #0E8357;
  text-decoration: none;  
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.card-kini a:hover {
  background-color: #fff;
  color: #0e8357;
  margin: 0;
} 

.card-kini .card-header h6 {
  margin: 0;
  font-weight: 700;      
  font-size: 12.5pt;
  line-height: 1rem;
}

.card-dulu .card-header {
  background-color: #d6dfd8;
  cursor: pointer;
  text-decoration: none;    
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.card-dulu .card-header h6 {
  margin: 0;
  font-weight: 700;    
  font-size: 12.5pt;
  line-height: 1rem;
}

.card-dulu a:hover {
  background-color: #fff;
  color: #0e8357;
  /* border-radius: 10px; */
  cursor: pointer;
}

.list-group-histori p {
  margin: 0;
}

/*
 * HALAMAN REKAM TERAPI HARIAN 
 */
.custom-terapi-harian h4 {
  font-size: 20px;
}

/* HALAMAN PROFIL */
.table-admin tr td h5 {
  font-size: 1.1rem;
}

/* Data Diri Pasien */
.custom-bio {
  margin-left: 0px;
  margin-right: 0px;
}
.custom-bio img {
  height: 215px;
  width: 190px;
  object-fit: cover;
}

table th, table td,
.table th, .table td {
  vertical-align: middle!important;
}

.table-data-diri {
  margin: 0px;
}

.table-data-diri thead tr th {
  width: 60%;
}

.table-data-diri thead tr th:first-child {
  width: 40%;
}

.table-data-diri td, .table-data-diri th {
  padding: 0px ;
  vertical-align: top !important;
}
  
.table-data-diri .form-label {
  font-size: 12pt;
}

.table-info-rm thead tr th {
  width: 63%;
}

.table-info-rm thead tr th:first-child {
  width: 37%;
}

.table-rm-p td {
  padding-top: 5px;
}

/* 
 * Halaman Form 
 */
/* hide scrollbar di input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.taginput input {
  border: none;
  outline: none;
  min-width: none;
}

form label {
  color: #000 !important;
}

form select:hover,
form option:hover {
  cursor: pointer;
}

.is-invalid {
  border-color: #dc3545 !important;
}

/* Form Tambah Penyakit */
.dropdown-dinamis {
  min-width: 250px;
}

.dropdown-dinamis .select-options {
  max-height: 180px;
  overflow-y: auto;
  padding: 4px 3px;
}

.dropdown-dinamis .select-options li {
  cursor: pointer;
  padding: 6px 12px;
}

.dropdown-dinamis .select-options::-webkit-scrollbar{
  width: 7px;
  padding-right: 9px;
}

.dropdown-dinamis .select-options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}

.dropdown-dinamis .select-options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}

.dropdown-dinamis .select-options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}

/* Form Terapis */
.input-group-text-danger {
  border-color: #dc3545;
}

/* Tabel Jadwal */
.table-col-aksi {
  min-width: 100px;
}
.table-col-terapis {
  min-width: 100px;
}

