/* tabel rata atas */
.table-top tbody tr td {
    vertical-align: top !important;
}

/* hapus padding tabel */
.paddingless-td tbody tr td {
    padding: 0px;
}

/* pagination */
.page-item a, .page-item .page-link{
    color: #198754 !important;
}
  
.pagination .active .page-link {
    background-color: #198754 !important;
    border-color: #198754 !important;
    color: #fff !important;
}

.dropdown .active {
    background-color: #239962;
}

.toggle-success {
    display: flex;
    justify-content: center;
    margin: 0;
}

.toggle-success .form-check-input {
    width: 28px;
    
    text-align: center;
}

.toggle-success .form-check-input:checked { 
    background-color: #0E8357; 
    border-color: #0E8357; 
}

.bg-nonaktif {
    background-color: #d5e6d8;
    color: #000;
}
