/* Screen Extra Large */
@media (max-width: 1700px) {
  .custom-login{
    width: 70%;
  }
}

@media(max-width: 992px) {
  .custom-login{
    width: 80%;
  }
}

/* screen Medium [Tablet] */
@media (max-width: 768px) {
  .custom-login{
    width: 85%;
  }
}

/* screen small [Phone] */
@media (max-width: 576px) {
  .custom-login{
    width: 95%;
  }
}