/* Screen Extra Large */
@media (min-width: 576px) {

  .card-pasien{
    height: 280px;
  }
  .card-pasien img{
    height: 55%;
  }
}


/* screen small [Phone] */
@media (max-width: 576px) {

  .card-pasien img{
    height: 45%;
  }
  .card-pasien{
    height: 250px;
  }
}

@media (min-width: 1400px) and (max-width: 1450px) {
  .card-pasien img {
    height: 48%;
  }
}


/* Halaman Pasien Lama - Card Pasien Lama*/

.card-pasien {
  background-color: #FFFFFF;
  width: auto;
}
.card-pasien h6 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 600;
}

.card-pasien p {
  color:#212529;
  font-size: 15px;
  font-weight: 600;
  display: -webkit-box;
    -webkit-line-clamp: 2; /* Jumlah baris yang ingin ditampilkan */
    -webkit-box-orient: vertical;
    overflow: hidden;
  margin: 0px;
}

.card-pasien .card-header {
  background-color: #0E8357;
  text-align: center;
}

.card-pasien .card-header .card-header-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
}

.card-pasien a {
  color: #0E8357;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  font-size: 15px;
  line-height: 1;
}

.card-pasien a:hover {
  text-decoration: underline;
  color: #0E8357;
}

.card-pasien img {
  width: auto;
  object-fit: cover;
  object-position: 0px 20%;
  border-radius: 0;
}

.card-pasien .card-footer {
  padding: 8px auto;
}